{% extends 'base.html'%}{% load static %} {% block content %}


<h2>Tasks</h2>
<div class="task-container">
    {% for task in tasks %}
    <div class='task'>
        <p class='task-text'> {{task.pk|capfirst}} {{task.task}}{{task.due_date}}{{task.assignee}}</p>
        <a class="small-button" href={% url 'edit_task' task.pk %}>Edit</a>
        <a href="{% url 'delete_task' pk=task.pk %}">Delete Task</a>
    </div>
    {% endfor %}
</div>
<p>View All</p>

<a href="{% url 'new_project' %}">New Project</a>

<h2>Projects</h2>
<div class="project-container">
    {% for project in projects %}

    <div class='project boxshadow'>
        <p class='project-text'> Project {{project.pk}} {{project.name | capfirst}}</p>
        <div class='project-link-container'>
            <a class='project-link' href="{% url 'project' pk=project.pk %}">Details</a> {% comment %} <a class='project-link' href="{% url 'google.com' pk=project.pk %}">Manage Team</a> {% endcomment %} 
        </div>

    </div>
    {% endfor %}
</div>
<p>View All</p>

{% endblock %}