{% extends 'base.html'%}{% load static %} {% block content %}

<p>Logged in as: {{request.user.first_name}} {{request.user.last_name}}</p>

<h1 class="project-tasks">My Tasks</h1>
<div class="task-container">
    {% for task in tasks%} {% if task.assignee == user %}
    <!-- |slice:":5"  -->
    {% if task.is_complete != True %}

    <div class="task">

        <p class="task-test">Task Name: {{task.task|capfirst}}</p>
        <p class="task-text">Assignee: {{task.assignee}}</p>
        <a class="small-button task-text" href="{% url 'edit_task' pk=task.pk %}">Edit Task</a>
        <a class="task-text" href="{% url 'delete_task' pk=task.pk %}">Delete Task</a>

    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
</div>

<div class="project-container">
    <a class='small-button' href="{% url 'new_project' %}">New Project</a>

    <h1 class="project-tasks">Projects</h1>

    {% for project in projects %}
    {% if project.project_team == user %}:

    <a href="{% url 'project' pk=project.pk %}" class="project-link-container">

        <p class="project-text">
            Project Name: {{project.name | capfirst}}</p>

        <h3>Details</h3>
       
    </a>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}