{% extends 'base.html'%}{% load static %} {% block content %}
<div class="body-margin">
<p class="user-loggedin">Logged in as: {{request.user.first_name}} {{request.user.last_name}}</p>
<h1 class="project-tasks my-tasks">My Tasks</h1>
<div class="task-container">


    <a id='update-button' class='hidden task-update-button' href="{% url 'dashboard' %}">Update Tasks</a>
    {% for task in tasks %}
    {% if task.is_complete == False and task.assignee == user %}

    <div class="form-group">
        <div class="checkbox task-text">
            <input class='checkbox' type="checkbox" name="packersOff" value="1" id="{{task.pk}}" />
            <label class='task-text project-tasks'><span class='{{task.category|lower }}'>
                    Task: {{task.task|capfirst}} | Project: {{task.project.name}} | Due: {{task.due_date.date}} |
                    Assigned
                    to:
                    {{task.assignee}} | {% if task.category %}Category:
                    {{task.category|upper }}{% endif %}{% if task.custom_category %}Category:
                    {{task.custom_category|upper }}{% endif %}</span></label>
        </div>
        <div class='task-link-container task-text'>
            {% if user.is_project_manager %}
            <a href="{% url 'delete_task' pk=task.pk %}"
                onclick="return confirm('Are you sure you want to delete this task?  Deleting a task cannot be undone.')"><i class="fas fa-minus-circle"></i></a>
            {% endif %}
        </div>

    </div>

    {% endif %}

    {% empty %}

    <div>
        <p>You are not associated with any incomplete tasks currently.</p>
    </div>

    {% if user.is_project_manager %}

    <div>
        <p>Go to a specific project to create tasks.</p>
    </div>

    {% endif %}

    {% endfor %}

</div>

<div class="project-container">


    <h1 class="project-tasks project-title"> 
        <div class="projects-header">Projects</div>
        {% if user.is_project_manager %}
        <a class='project-button' href="{% url 'new_project' %}">New Project</a>
        {% endif %}
    </h1>

    {% for project in projects %}


    <a href="{% url 'project' pk=project.pk %}" class="project-link-container">

        <p class="project-text">
            Project Name: {{project.name | capfirst}} | Address: {{project.address}} | Lot: {{project.lot_number}}
        </p>

        <h3>Details</h3>
        
    </a>

    {% empty %}

    {% if user.is_project_manager == False %}

    <div class='new-project-no-link'>
        <p class='project-text'>You are not associated with any projects currently. Contact project manager for details.
        </p>
    </div>

    {% endif %}

    {% if user.is_project_manager %}

    <a href="{% url 'new_project' %}">
        <div class='new-project'>
            <p class='project-text'>You have no projects currently.</p>
            <p class='project-text'>Click here to create one</p>
        </div>
    </a>

    {% endif %}

    {% endfor %}
</div>
</div>
{% endblock %}