{% extends 'base.html' %} {% block content %}

<h1>{{project.name}}</h1>

<a href="{% url 'new_task' pk=project.pk %}">Create New Task</a>
<a href="{% url 'new_team_member' pk=project.pk %}">Add New Team Member</a>

<div class="task-container">

    {% for task in tasks %}

    <div class="task">
        <p class="task-text">
            {{task.pk|capfirst}} {{task.task}}{{task.due_date}}{{task.assignee}}</p>
        
    </div>
</div>
{% endfor %} {% endblock %}

<a href="{% url 'new_task' pk=project.pk %}">Create New Task</a>

    <div class='task'>
        <p class='task-text'> {{task.pk|capfirst}} {{task.task}}{{task.due_date}}{{task.assignee}}</p>
        <a class="small-button" href={% url 'edit_task' task.pk %}>Edit</a>
        <a href="{% url 'delete_task' pk=task.pk %}">Delete Task</a>
        <a href="{% url 'delete_project' pk=project.pk %}">Delete Project</a>
        <a href="{% url 'delelte_team_member' pk=member.pk %}">Delete Team Member</a>



    </div>
</div>
{% endfor %}


{% endblock %}

