<!DOCTYPE html>
<html lang="en">
{% load fontawesome_5 %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/5101f599d9.js" crossorigin="anonymous"></script>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Oswald|Saira+Condensed:700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}" /> {% block title %}
    <script src="{% static 'JS/main.js' %}" defer></script>
    <title>FloorPlan</title>
    {% endblock %}
</head>

<header class="header">
    <div class="img-container">
        <div class="log-container">
            <a class="floor-plan-text" href="{% url 'dashboard' %}">FloorPlan</a>

            <div class="log-link-container">
                <div class="log-link">
                    <a class="logout" href="/accounts/login/">Login </a>
                </div>
                <div class="log-link"> | </div>
                <div class="log-link">
                    <a class="logout" href="/accounts/logout/">Logout</a>
                </div>
            </div>
            <!-- <div class="search-bar">
                <form action="" method="GET" id="search-form">
                    <input type="text" id="search" name="q" placeholder="Search for a project..." value="{{query}}" />
                </form>
            <div -->
        </div>
    </div>
</header>
{% block content %}

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    {% if user.is_authenticated and user.is_project_manager %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/project_manager.css' %}" /> {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/members.css' %}" /> {% endif %}
</body>

{% endblock %}

</html>