<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Oswald|Saira+Condensed:700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}" /> {% block title %}
    <title>FloorPlan</title>{% endblock %}
</head>


<header>
    <div class='log-container'>
        <a class="floor-plan-text" href="{% url 'dashboard' %}">FloorPlan</a>


        <div class="log-link">
            <a class="logout" href="/accounts/login/">Login </a>
        </div>
        <div class="log-link">
            <a class="logout" href="/accounts/logout/">Logout </a>
        </div>
        <!-- <div class="search-bar">
        <form action="" method="GET" id="search-form">
            <input type="text" id="search" name="q" placeholder="Search for a project..." value="{{query}}" />
        </form>
    </div> -->
</header>

<body>
    {% block content %} {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    {% if user.is_authenticated and user.is_project_manager %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/project_manager.css' %}"> {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/members.css' %}"> {% endif %}
</body>

{% block content %}{% endblock %}

</html>