[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-environ = "*"
django-debug-toolbar = "*"
django-extensions = "*"
django-phone-field = "*"
psycopg2 = "*"
django-heroku = "*"
gunicorn = "*"
django-model-utils = "*"
django-registration-redux = "*"
vue = "*"
django-crispy-forms = "*"
django-fontawesome = "*"
django-fontawesome-5 = "*"

[requires]
python_version = "3.7"
