{% extends 'base.html'%}{% load static %} {% block content %}


<h1>Tasks</h1>
<div class="task-container">
    {% for task in tasks %}
    <div class='task'>
        <p class='task-text'> {{task.pk|capfirst}} {{task.task}}{{task.due_date}}{{task.assignee}}</p>
    </div>
    {% endfor %}
</div>




<h1>Projects</h1>
<div class="project-container">
    {% for project in projects %}

    <div class='project'>
        <h2> Project {{project.pk}} {{project.name | capfirst}}</h2>
        <div class='project-link-container'>
            <a class='project-link' href={% url 'project' pk=project.pk %}>Details</a> {% comment %} <a class='project-link' href={% url 'google.com' pk=project.pk %}>Manage Team</a> {% endcomment %} {% comment %} how to reference team related to project
            {% endcomment %}
        </div>

    </div>

</div>

{% endfor %} {% endblock %}