* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

hr {
    background-color: var(--green-gray);
    border: none;
    height: 2px;
}

input[type="checkbox"]:checked+label.strikethrough {
    text-decoration: line-through;
}

:root {
    --dark-brown: #5b3000;
    --light-brown: #66462c;
    --background-color: #dce0d9;
    --dark-gray: #595959;
    --green-gray: #808f85;
    --plumbing: #3399ff;
    --electrical: #ff4c84;
    --project-manager: #cc0033;
    --homeowner: #498c00;
    --masonry: #0049bf;
    --framing: #8c72ff;
    --roofing: #823d7b;
    --tiling: #743434;
    --default-fonts: "Saira Condensed", sans-serif;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.task-update-button {
    border: solid 3px var(--dark-gray);
    background-color: white;
    margin: 10px;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    white-space: nowrap;
}

.task-update-button:hover {
    background-color: var(--dark-gray);
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.project-header {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    width: 80%;
}

.project-details {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.edit-project-button,
.delete-project-button {
    border: solid 3px var(--dark-gray);
    background-color: var(--dark-gray);
    width: 100px;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    white-space: nowrap;
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.button-text{
    font-family: var(--default-fonts);
}

.edit-project-button:hover {
    background-color: var(--green-gray);
    color: white;
}

.delete-project-button:hover {
    background-color: darkred;
}

body {
    background-color: var(--background-color);
    color: var(--dark-gray);
    font-family: var(--default-fonts);
}

.plumbing {
    color: var(--plumbing);
}

.electrical {
    color: var(--electrical);
}

.homeowner {
    color: var(--homeowner);
}

.framing {
    color: var(--framing);
}

.roofing {
    color: var(--roofing);
}

.masonry {
    color: var(--masonry);
}

.tiling {
    color: var(--tiling);
}

.logged-in-text {
    padding: 10px;
}

p {
    padding: 10px;
}

a:link {
    text-decoration: none;
    font-family: var(--default-fonts);
    color: var(--green-gray);
}

a:visited {
    text-decoration: none;
    color: var(--green-gray);
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: var(--green-gray);
}

a.logout:visited, a.login:visited, a.login, a.logout{
    color:black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--default-fonts);
    padding-left: 10px;
}

.body-margin {
    margin: 2rem;
}

.user-loggedin {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    animation: 1s ease-out 0s 1 slideInFromRight;
}

.floor-plan-text {
    color: black;
    font-family: "Saira Condensed", sans-serif;
    font-size: 5rem;
    padding-left: 3rem;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.header a {
    color: black;
}
.header a:visited {
    color: black;
}
.task-text {
    font-size: 1.2rem;
    font-family: var(--default-fonts);
    color: var(--dark-gray);
    margin-bottom: 1rem;
    margin-top: 1rem;
    max-width: 90%;
}

.project-text {
    font-family: var(--default-fonts);
    font-size: 110%;
    color: white;
    padding: 12px;
}
@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    
    100% {
        transform: translateY(0);
    }
}
.task-container {
    display: flex;
    flex-flow: column;
    width: 55%;
    min-width: 400px;
    margin: 1rem;
    margin-left: 3rem;
    animation: 1s ease-out 0s 1 slideInFromBottom;
}
.heading-container {
    display: flex;
    flex-flow: row;
    padding-left: 25px; 
    align-content: center;
}

.header {
    overflow: hidden;
    background-image: linear-gradient( rgba(250, 250, 250, 0.4), rgba(250, 250, 250, 0.4)), url(https://images.pexels.com/photos/834892/pexels-photo-834892.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    height: 250px;
    width: 100%;
    display: flex;
    background-size: cover;
    justify-content: start;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
}
.log-container {
    font-size: 1.5rem;
    display: flex;
    flex-flow: column;
    padding-left: 10px;    
    align-content: center;
}
.log-link-container {
    display: flex;
    flex-flow: row;
    padding: 2rem;
    padding-top: 25px;
}
.log-link {
    display: flex;    
    margin-left: 1rem;
    color: black;
    font-family: var(--default-fonts);
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.log-link:link{
    color: black;
}

.form {
    padding: 25px;
}
.form-group {
    border-bottom: 2px solid var(--dark-gray);
    width: 90%;
    animation: 1s ease-out 0s 1 slideInFromBottom;
}
.task {
    font-size: 1.2rem;
    align-content: flex-start;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    background-color: white;
    border: 2px solid var(--light-brown);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 90%;
}

.task a:hover {
    color: black;
}

.task-text:checked+span {
    text-decoration: line-through;
}
.completed-task {
    align-content: flex-start;
    text-decoration: line-through;
}
.project-container {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    width: 35%;
    min-width: 350px;
    height: 300px;
    animation: 1s ease-out 0s 1 slideInFromBottom;
    margin-bottom: 4rem;
}
.project {
    align-content: flex-start;
    background-color: var(--dark-gray);
    color: white;
    margin: 12px;
    border-radius: 12px;
    padding-left: 50px;
}
.new-project-no-link {
    align-content: flex-start;
    color: white;
    background-color: var(--green-gray);
    border: var(--dark-brown);
    margin: 12px;
    border-radius: 12px;
    padding-left: 50px;
    min-height: 100px;
}
.new-project {
    align-content: flex-start;
    color: white;
    background-color: var(--green-gray);
    border: var(--dark-brown);
    margin: 12px;
    border-radius: 12px;
    padding-left: 50px;
    min-height: 100px;
    cursor: pointer;
}

.new-project:hover {
    background-color: var(--dark-gray);
    color: white;
}

.project-name {
    font-family: "Saira Condensed",
    sans-serif;
    font-size: 200%;
    color: var(--light-brown);
}

.project-tasks {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

.my-tasks,  
.project-categories {
    font-size: 3rem;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0, 0, 0, .1),
    0 0 5px rgba(0, 0, 0, .1),
    0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .25),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);
    animation: 1s ease-out 0s 1 slideInFromBottom;
}
.projects-header {
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0, 0, 0, .1),
    0 0 5px rgba(0, 0, 0, .1),
    0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .25),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);
    margin-top: 15px;
}
.project-title {
    display: flex;
    flex-direction: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 3rem;
}

.project-button {
    font-size: 1rem;
    padding: 8px;
    background-color: var(--dark-gray);
    border: solid 1px var(--background-color);
    border-radius: 12px;
    min-width: 106px;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.project-buttons {
    display: flex;
    flex-wrap: wrap;
    animation: 1s ease-out 0s 1 slideInFromRight;
}

.project-button:visited {
    color: white;
}

.project-link-container {
    flex-flow: row nowrap;
    border-radius: 25px;
    padding: 10px;
    position: relative;
    background-color: var(--dark-gray);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 5);
    display: block;
    text-decoration: none;
    margin-top: 2rem;
}

.task-link-container {
    padding-left: 25px;
}

.project-link {
    align-content: flex-start;
    color: white;
}

.strikethrough {
    text-decoration: line-through;
}

.category-container {
    display: flexbox;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: inherit;
}

.category {
    font-family: var(--default-fonts);
    color: var(--dark-gray);
    margin: 5px;
    padding: 5px;
    flex-grow: 1;
    width: 80%;
    border-bottom: 2px solid var(--dark-gray);
    animation: 1s ease-out 0s 1 slideInFromBottom;
}

.small-button {
    font-size: .8rem;
    padding: 8px;
    color: white!important;
    ;
    background-color: var(--green-gray);
    border-radius: 12px;
}

.small-button:hover {
    color: white;
    background-color: var(--dark-gray);
}

.teammember-container {
    display: inline-block;
    background-color: var(--dark-gray);
    flex-flow: row;
    padding: 1rem;
    width: 80%;
    border-radius: 12px;
    margin-top: 2rem;
}

.teammember {
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    align-content: flex-start;
    color: white;
}

.custom-category {
    text-transform: uppercase;
}

.cat-header {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: flex-start;
    position: relative;
}

.topcorner {
    position:absolute;
    top:0;
    right:0;
}

.button-margin {
    margin-left: 1rem;
    margin-top: 1.5rem;
}

@media screen and (max-width: 600px) {
    .topcorner{
        position: relative;
        top: 0;
        right: 0;
    }
    .small-button{
        position: relative;
        font-size: .8rem;
        padding: 8px;
        color: white!important;
        ;
        background-color: var(--green-gray);
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        margin: 1rem;
    }
}

.large-button{
    font-size: .8rem;
    padding: 8px;
    color: white!important;
    ;
    background-color: var(--green-gray);
    border-radius: 10px;
}

.task-button-align {
    color: var(--dark-gray);
}
.btn.btn-success {
    border: 12px;
    font-size: 95%;
    color: var(--dark-gray);
}
input {
    border: 12px;
    font-size: 95%;
    color: var(--dark-gray);
}
.task-align {
    margin-left: 1.1rem;
}
.top-margin {
    padding-top: 3rem;
}
.login_div {
    display: flex;
    flex-flow: column;
    padding: 2rem;
    width: 100%;
    float: center;
    margin: 2rem;
    color: var(--dark-brown);
}
.small-top {
    padding-top: 2rem;
}
.small-top-margin {
    margin-top: 2rem;
    margin-left: 1rem;
}
.animation {
    animation: 1s ease-out 0s 1 slideInFromBottom;
}

.button-padding{
    padding: .5rem 1rem;
    border-radius: 10px;
    font-family: var(--default-fonts);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.signup-title{
    color: var(--dark-brown);
}

.task-button-align{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    align-items: baseline;
    justify-content: space-between;
}

.dashboard {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: auto;
    margin-left: .5rem;
    margin-right: .5rem;
    margin-bottom: 6rem;
    max-width: 90%;  
}

.bottom-margin {
    margin-top: 1rem;
}

.delete-project:hover{
    color: Tomato;
}
