<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1.0" /> {
    % load static %
}

<script src="{% static 'main.js' %}" defer></script><link href="https://fonts.googleapis.com/css?family=Oswald|Saira+Condensed:700&display=swap" rel="stylesheet" /><link rel="stylesheet" href="{% static 'CSS/styles.css' %}" /> {
    % block title %
}

<title>FloorPlan</title> {
    % endblock %
}

</head><header><div><a class="floor-plan-text" href="{% url 'dashboard' %}">FloorPlan</a></div><div class="logout-container header"><a class="logout" href="/accounts/login/">Login </a></div><div class="logout-container header"><a class="logout" href="/accounts/logout/">Logout </a></div><div class="logout-container header"><a class="logout" href="/accounts/register/">Register </a></div><!-- <div class="search-bar"><form action="" method="GET" id="search-form"><input type="text" id="search" name="q" placeholder="Search for a project..." value="{{query}}" /></form></div>--></header><body> {
    % block content %
}

{
    % endblock %
}

</body></html> {
    text-decoration: none;
    color: red;
}

a:active {
    text-decoration: none;
    color: red;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif
}

h3 {
    font-family: Arial, Helvetica, sans-serif
}

h4 {
    font-family: Arial, Helvetica, sans-serif
}

h5 {
    font-family: Arial, Helvetica, sans-serif
}


/* font-family: 'Oswald', sans-serif; */

.floor-plan-text {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 200%;
}

.task-text {
    font-family: Arial, Helvetica, sans-serif;
}

.project-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140%;
}

.task-container {
    display: flex;
    flex-flow: column;
    padding: 25px;
    border: solid green 2px;
}

.task {
    align-content: flex-start;
}

.project-container {
    display: flex;
    flex-flow: column;
    border: red 6px solid;
    padding: 25px;
}

.project {
    align-content: flex-start;
    background-color: var(--dark-gray);
    color: white;
    /* padding: 12px; */
    margin: 12px;
    border-radius: 12px;
    padding-left: 50px;
}

.boxshadow {
    position: relative;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
}

.project-link-container {
    display: flex;
    flex-flow: row nowrap;
    padding: 25px;
}

.project-link {
    align-content: flex-start;
}